.hero-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease;
  width: 107%;
}

.slides-container img {
  flex-shrink: 0;
  width: 1600px;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 24%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}