h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 100px 0px 50px 0px;
}
#btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
label {
  display: block;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
input {
  display: block;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}
.form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
#greet {
  display: block;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  margin-left: 20px;
}
