* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#box1 {
  width: 600px;
  height: 150px;
  background-color: #ff671f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
#box2 {
  width: 600px;
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
#box3 {
  width: 600px;
  height: 150px;
  background-color: #046a38;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
#box2 img {
  height: 150px;
  width: auto;
  object-fit: cover;
}
